---
import Icon from "astro-icon";
---

<div class="flex flex-col grow items-center m-2 md:m-6 p-2 md:p-6">
    <form id="password-generator-form" class="text-center">
        <label for="length" class="block mb-2 text-sm font-medium text-text uppercase">Length of password:</label>
        <div class="flex items-center justify-center mb-2 gap-1">
            <button type="button" id="decrement-button" class="bg-background transition hover:bg-secondary border border-primary rounded-s-lg p-3 h-11 focus:ring-secondary focus:ring-1 focus:outline-none active:bg-accent active:bg-opacity-30">
                <Icon class="h-3 w-3 text-text font-medium" name="mdi:minus-thick"/>
            </button>
            <input type="number" id="length" name="length" min="8" max="128" class="bg-background transition w-16 hover:bg-secondary border border-primary h-11 text-center text-text text-sm focus:outline-primary block py-2.5 " placeholder="8 - 128" required>
            <button type="button" id="increment-button" class="bg-background hover:bg-secondary border border-primary rounded-e-lg p-3 h-11 focus:ring-secondary focus:ring-1 focus:outline-none active:bg-accent active:bg-opacity-30">
                <Icon class="h-3 w-3 text-text" name="mdi:plus-thick"/>
            </button>
        </div>
      
        <div class="mb-2 pl-3 text-start accent-accent uppercase">
            <input type="checkbox" id="includeNumbers" name="includeNumbers">
            <label for="includeNumbers">Numbers</label>
        </div>
        <div class="mb-2 pl-3 text-start accent-accent uppercase">
            <input type="checkbox" id="includeCapitalLetters" name="includeCapitalLetters">
            <label for="includeCapitalLetters">Capital letters</label>
        </div>
        <div class="mb-2 pl-3 text-start accent-accent uppercase">
            <input type="checkbox" id="includeSpecialCharacters" name="includeSpecialCharacters">
            <label for="includeSpecialCharacters">Special characters</label>
        </div>
      
        <input type="submit" value="GENERATE PASSWORD" class="bg-background transition hover:bg-secondary border border-primary rounded p-3 h-11 leading-none focus:ring-secondary focus:ring-2 focus:outline-none active:bg-accent active:bg-opacity-30">
      </form>
          <h5 id="password-display" class="m-2 text-lg text-primary break-all font-semibold"></h5>
          <div>
            <button id="copy-button" class="invisible transition bg-background px-3 py-2 hover:bg-secondary border border-primary rounded uppercase leading-none focus:ring-secondary focus:ring-2 focus:outline-none active:bg-accent active:bg-opacity-30"><Icon name="lucide:clipboard-copy" class="h-6"></button>
            <button id="clear-button" class="invisible transition bg-background px-3 py-2 hover:bg-secondary border border-primary rounded uppercase leading-none focus:ring-secondary focus:ring-2 focus:outline-none active:bg-accent active:bg-opacity-30"><Icon name="ic:outline-delete-forever" class="h-6"></button>
        </div>
</div>