---

---

<div class="grow flex flex-col justify-evenly items-center m-2 md:m-6 p-2 md:p-6">
    <form id="password-generator-form">
        <label for="length">Password length:</label>
        <input type="number" id="length" name="length" min="8" max="128" required>
      
        <label for="includeNumbers">Include numbers:</label>
        <input type="checkbox" id="includeNumbers" name="includeNumbers">
      
        <label for="includeCapitalLetters">Include capital letters:</label>
        <input type="checkbox" id="includeCapitalLetters" name="includeCapitalLetters">
      
        <label for="includeSpecialCharacters">Include special characters:</label>
        <input type="checkbox" id="includeSpecialCharacters" name="includeSpecialCharacters">
      
        <input type="submit" value="Generate Password">
      </form>
      <h5 id="password-display" class="text-xl text-primary font-semibold"></h5>
</div>